fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-core
langsmith
requests
openai
pandas
python-dotenv
groq
elevenlabs
numpy
mistralai
chromadb
langchain-text-splitters
langchain-ollama
sentence-transformers
